@import "./theme.css";
@import "./scrollbar.css";
@import "./animations.css";
@import "./swiper.css";
@import "./social-icons.css";
@import "./mui-inputs.css";
@import "./datepicker.css";
@import "./luxury-input.css";
@import "./select.css";
@import "./BookingSummaryCard.css";
.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
